# Genomgång av labben

- läs på om collaborative och content filtering innan start
- labben är framför allt collaborative men ni får göra content
- största skillnaden är hur ni skapar er feature mängd
- det kan vara bra att göra urval pga storleken på alla dataset
- tags.csv innehåller mycket skräp
- välj ut en feature mängd och rekommendera filmer utifrån input
- csr (?) (compressed sparse row/matrix) kan användas, då är de flesta datapunkter noll
- utförandet är antingen CLI (command line interface), applikation eller notebook
- PCA är bra, kanske kan använda det? 
- ta hänsyn till kontext (ta engrams) med naturligt språk

# Gemensam EDA

In [2]:
import pandas as pd

movies = pd.read_csv("../data/movielens/movies.csv")
ratings = pd.read_csv("../data/movielens/ratings.csv")
tags = pd.read_csv("../data/movielens/tags.csv")

In [3]:
datasets = [movies, ratings, tags]
for set in datasets:
    display(set.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86537 entries, 0 to 86536
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  86537 non-null  int64
 1   title    86537 non-null  object
 2   genres   86537 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33832162 entries, 0 to 33832161
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 1.0 GB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2328315 entries, 0 to 2328314
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   tag        object
 3   timestamp  int64
dtypes: int64(3), object(1)
memory usage: 71.1+ MB

None

In [ ]:
datasets = [movies, ratings, tags]
for set in datasets:
    display(set.describe())

             movieId
count   86537.000000
mean   155932.817096
std     78037.145347
min         1.000000
25%    111443.000000
50%    164574.000000
75%    211225.000000
max    288983.000000

             userId       movieId        rating     timestamp
count  3.383216e+07  3.383216e+07  3.383216e+07  3.383216e+07
mean   1.654380e+05  2.831348e+04  3.542540e+00  1.269362e+09
std    9.534122e+04  4.992865e+04  1.063959e+00  2.541023e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    8.295300e+04  1.219000e+03  3.000000e+00  1.046718e+09
50%    1.661290e+05  3.263000e+03  4.000000e+00  1.264740e+09
75%    2.474500e+05  4.049100e+04  4.000000e+00  1.496919e+09
max    3.309750e+05  2.889830e+05  5.000000e+00  1.689843e+09

             userId       movieId     timestamp
count  2.328315e+06  2.328315e+06  2.328315e+06
mean   1.776665e+05  7.055280e+04  1.522919e+09
std    8.285669e+04  7.402427e+04  1.308546e+08
min    1.000000e+01  1.000000e+00  1.135429e+09
25%    1.144050e+05  3.897000e+03  1.457997e+09
50%    2.154900e+05  5.107700e+04  1.561826e+09
75%    2.154900e+05  1.175330e+05  1.614286e+09
max    3.309470e+05  2.889550e+05  1.689841e+09

In [6]:
len(ratings['userId'].unique()), len(ratings['movieId'].unique()),

(330975, 83239)

In [ ]:
# KNeighborsTransformer

# Repetition