In [17]:
import pandas as pd

In [ ]:
movies = pd.read_csv("../data/movielens/movies.csv")
ratings = pd.read_csv("../data/movielens/ratings.csv")
tags = pd.read_csv("../data/movielens/tags.csv")

In [19]:
tags.head()

   userId  movieId            tag   timestamp
0      10      260   good vs evil  1430666558
1      10      260  Harrison Ford  1430666505
2      10      260         sci-fi  1430666538
3      14     1221      Al Pacino  1311600756
4      14     1221          mafia  1311600746

In [20]:
tags["tag"] = tags["tag"].astype(str)
tags["char_length"] = tags["tag"].map(lambda x: len(x))
tags["word_length"] = tags["tag"].map(lambda x: len(x.split(" ")))
tags.head()

   userId  movieId            tag   timestamp  char_length  word_length
0      10      260   good vs evil  1430666558           12            3
1      10      260  Harrison Ford  1430666505           13            2
2      10      260         sci-fi  1430666538            6            1
3      14     1221      Al Pacino  1311600756            9            2
4      14     1221          mafia  1311600746            5            1

In [22]:
pd.set_option("display.float_format", "{:.2f}".format)
tags.describe()

          userId    movieId     timestamp  char_length  word_length
count 2328315.00 2328315.00    2328315.00   2328315.00   2328315.00
mean   177666.49   70552.80 1522918570.41        11.09         1.66
std     82856.69   74024.27  130854588.63         5.69         0.92
min        10.00       1.00 1135429210.00         1.00         1.00
25%    114405.00    3897.00 1457996685.00         7.00         1.00
50%    215490.00   51077.00 1561826361.00        10.00         1.00
75%    215490.00  117533.00 1614286059.00        14.00         2.00
max    330947.00  288955.00 1689841404.00       241.00        42.00

Kanske går att göra en sentiment analysis?