In [104]:
import pandas as pd
import re
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [79]:
movies = pd.read_csv("../data/movielens/movies.csv")

In [89]:
movies.head(2)

,movie_id,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995

In [ ]:
movies["genres"] = movies["genres"].replace("(no genres listed)", np.nan)
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86537 entries, 0 to 86536
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  86537 non-null  int64
 1   title     86537 non-null  object
 2   genres    79477 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

In [ ]:
movies["year"] = movies["title"].str.extract(r"\((\d{4})\)")
movies["title"] = movies["title"].str.replace(r'\[.*?\]|\(.*?\)', '', regex=True).str.strip()
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86537 entries, 0 to 86536
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  86537 non-null  int64
 1   title     86537 non-null  object
 2   genres    79477 non-null  object
 3   year      85919 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.6+ MB

In [ ]:
movies.dropna(how="any", inplace=True) # dropping 7300 NaN values
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79237 entries, 0 to 86536
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  79237 non-null  int64
 1   title     79237 non-null  object
 2   genres    79237 non-null  object
 3   year      79237 non-null  object
dtypes: int64(1), object(3)
memory usage: 3.0+ MB

In [109]:
movies_vec = movies.copy()
movies_vec = movies_vec.drop(columns=["title", "year"])
movies_vec["genres"] = movies_vec["genres"].str.lower().str.split("|")
temp = movies_vec.head(10)
temp

   movie_id                                             genres
0         1  [adventure, animation, children, comedy, fantasy]
1         2                     [adventure, children, fantasy]
2         3                                  [comedy, romance]
3         4                           [comedy, drama, romance]
4         5                                           [comedy]
5         6                          [action, crime, thriller]
6         7                                  [comedy, romance]
7         8                              [adventure, children]
8         9                                           [action]
9        10                      [action, adventure, thriller]

In [ ]:
words = [temp["genres"].unique]
print(words)
# vocab = 
# cvec = CountVectorizer()
# bow = cvec.fit_transform(temp)
# bow.todense(), cvec.get_feature_names_out()

TypeError: unhashable type: 'list'